.Card {
  font-size: 16px;
  margin-top: 0.625em;
  border-radius: 0.9375em;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 18.75em;
  max-width: 68.75em;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
}

.Transparent-Overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  min-width: 18.75em;
  max-width: 75em;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  z-index: 1;
}

.Card > section:nth-child(-n+3) {
  position: relative;
  z-index: 5;
  padding: 0.3125em 0.625em;
}

/* CARD INFO */
.Card--Info > h3 {
  width: fit-content;
}

.Info--Stats {
  text-align: start;
  align-items: center;
}

.Info--Rating {
  display: flex;
  font-size: 2em;
}

.Info--Rating::before {
  content: '';
  background: url('./star.svg') center center no-repeat;
  width: 1.5em;
}

.Info--ReviewCount {
  color: #c8aaaa;
  font-size: 0.7em;
  align-self: center;
}

/* CARD DESCRIPTION */
.Card--Description {
  font-size: 2em;
  text-align: start;
}

.Card--Description > a {
  background-color: white;
  opacity: 0.7;
  padding: 0.125em 0.25em;
  border-radius: 0.3125em;
}

.Card--Description > a:hover {
  background-color: rgb(207, 198, 198);
}

/* CARD LINKS */
.Card--Links {
  position: absolute;
  z-index: 5;
  bottom: 1em;
  left: 0;
  right: 0;
}

.Button--Row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Button--Row > a:first-child::before {
  content: '';
  background: url('./map-icon.svg') left center no-repeat;
  background-size: cover;
  width: 1em;
  height: 1em;
}

.Button--Row > a {
  opacity: 0.7;
  background-color: white;
  width: 12.5em;
  margin: 0.625em 0;
  padding: 1em 2em;
  border-radius: 0.625em;
  color: black;
}

.Button--Row > a:hover {
  background-color: rgb(207, 198, 198);
  color: rgb(39, 38, 38);
}

/* MEDIA QUERIES */
@media (width < 1050px) {
  .Card {
    font-size: 14px;
  }
}
@media (width < 950px) {
  .Card {
    font-size: 12px;
  }
}
@media (width < 850px) {
  .Card {
    font-size: 10px;
  }
}
@media (width < 750px) {
  .Card {
    font-size: 9px;
  }
}

@media (width < 650px) {
  .Card {
    font-size: 8px;
  }
}
@media (width < 550px) {
  .Card {
    font-size: 7px;
  }
}

@media (width < 480px) {
  .Card {
    font-size: 5px;
  }
}
